* {
    padding: 0;
    margin: 0;
    color: #726A69;
}

h2 {
    font-family: "collier", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    letter-spacing: 15px;
    padding-top: 130px;
    text-align: center;
}

h3 {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 120px;
}

.home {
    background: #FFFDFA;
}

.about {
    background-color: #EAE4DE;
}

.about p {
    text-align: center;
    padding-bottom: 200px;
    line-height: 35px;
}

.shop1{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    padding-bottom: 130px;
}

.shop-photo img{
    width: 350px;

}

.shop-photo{
    background-color: #fff;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
}

.shops {
    background-color: #EAE4DE;
}

.station {
    text-align: center;
    font-size: 28px;
    padding-bottom: 70px;
}

.underline {
    border-bottom: 1px solid #726A69;
}

.shop-text{
    width: 400px;
    height: 400px;
    background-color: #fff;
    text-align: center;
    margin: 60px;
}

.shop-name{
    font-family: "collier", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.shop-information{
    display: flex;
    text-align: left;
    justify-content: center;
    line-height: 2;
    padding-top: 60px;
    padding-bottom: 70px;
}

.left{
    margin-right: 30px;
}

.shop-link{
    margin-right: 50px;
    text-align: right;
}

footer p {
    text-align: center;
    background: #FFFDFA;
    padding: 20px;
}