* {
    padding: 0;
    margin: 0;
    color: #726A69;
}

.home nav {
    padding: 30px;
    position: absolute;
    right: 50px;
    background: #EAE4DE;

}

.home nav ul {
    display: flex;
}

.home nav li {
    list-style: none;
    margin-left: 60px;
}

.home nav a {
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 5px;
}

.top {
    width: 100vw;
    height: 100vh;
    background-image: url(image/background.jpg);
}

h2 {
    font-family: "collier", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    letter-spacing: 15px;
    padding-top: 130px;
    text-align: center;
}

h3 {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 120px;
}

.home {
    background: #FFFDFA;
}

.about {
    background-color: #EAE4DE;
}

.about p {
    text-align: center;
    padding-bottom: 200px;
    line-height: 35px;
}

.map-img {
    padding-bottom: 150px;
}

#yoyogi:hover {
    fill: #B79997;
}

a:visited {
    fill: #726A69;
}

#takadanobaba:hover {
    fill: #B79997;
}

#tokyo:hover {
    fill: #B79997;
}

#shinokubo:hover {
    fill: #B79997;
}

.shop1 {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    padding-bottom: 80px;
}


.shop2 {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}


.shop-photo img {
    width: 350px;

}

.shop-photo {
    background-color: #fff;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
}

.shops {
    background-color: #EAE4DE;
}

.station {
    text-align: center;
    font-size: 28px;
    padding-top: 50px;
    padding-bottom: 70px;
}

.underline {
    border-bottom: 1px solid #726A69;
}

.shop-text {
    width: 400px;
    height: 400px;
    background-color: #fff;
    text-align: center;
    margin: 60px;
}

.shop-name {
    font-family: "collier", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.shop-information {
    display: flex;
    text-align: left;
    justify-content: center;
    line-height: 2;
    padding-top: 60px;
    padding-bottom: 70px;
}

.instagram-link{
    width: 400px;
}

.left {
    margin-right: 30px;
}

.shop-link {
    margin-right: 50px;
    text-align: right;
}

.modaal-content-container {
background-color: #FFFDFA;
}

.contents {
    padding: 80px 80px 60px 80px;
}

.shop-list {
    padding-top: 80px;
    padding-bottom: 60px;
}

.shop {
    display: flex;
}

.shop div {
    padding-right: 50px;
}

footer {
    background: #FFFDFA;
}

footer .underline {
    letter-spacing: 3px;
}

footer nav li {
    list-style: none;
}

footer nav p {
    padding-bottom: 10px;
}

footer nav a {
    text-decoration: none;
    letter-spacing: 3px;
}

.link {
    display: flex;
    width: 90vw;
    justify-content: flex-end;
}

.copyright {
    text-align: center;
    padding: 20px;
}

@media screen and (min-width: 768px){
    .br-sp {display: none; }
    }


@media all and (max-width:480px) {
    .h2 {
        font-size: 36px;
    }

    .shop-photo img {
        width: 75vw;

    }

    .shop-photo {
        background-color: #fff;
        width: 90vw;
        height: 90vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }



    .shop1,
    .shop2 {
        display: block;
    }

    .shop {
        display: block;
    }

    .shop-text {
        background-color: transparent;
        width: auto;
        height: auto;
        margin: 0;
        margin-top: 10px;
    }


    .contents {
        padding: 80px 30px 60px 30px;
    }

    .shop-list{
        padding-right: 20px;
    }

    .shop div {
        padding: 0;
    }

    footer{
margin: 0 auto;
    }

    .link{
        width: 100vw;
    }


}